html{
    scroll-behavior: smooth;
}

body {
    height: fit-content;
    margin: 0;

}
.ul{
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 0;
}
.ul a{
    transition: all .5s;
}

.ul a:hover{
    color: #4a7c59;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.905);

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f5ef;
    padding: 10px 30px;
    box-shadow: 0 0 1000px black;
}
.Title{
    font-weight: 900;
    color: #4a7c59;
    font-size: 18px;

}
.Home{
    background-image: url(img/wallpaper.png);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;  
      
}
.mainText{
    font-size: 90px;
    text-align: center;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.809);
}

.Literata{
    font-family: "Literata" ,serif ;
}
.NunitoSans{
    font-family: "Nunito Sans" ,sans-serif;
}
.secondText{
    max-width: 510px;
    text-align: center;
    color: rgba(0, 0, 0, 0.672);
    font-size: 18px;
    margin-top: 0;
}
.hireMeBtn{
    padding: 15px 30px;
    background-color: #4a7c59;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-weight: 800;
}
.viewProjects{
    padding: 15px 30px;
    background-color: #f0ece4;
    border-radius: 20px;
    border: none;
    color: #4a7c59;
    font-weight: 700;
    cursor: pointer;
}
.btm{
    margin-bottom: 150px;
}
b{
    text-decoration: underline;
    color: #4a7c59;

}
.About{
    display: flex;
    height: fit-content; /* -------------*/
    padding:150px 30px ;
    background-color: #f5f1ea;
}
.leftAbout{
    position: relative;
    height: fit-content;
}
.myPic{
    width: 450px;
    border-radius: 20px;
    border: solid 10px white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.348);
    position: relative;
}
.myPicIsSpan{
    width: 200px;
    height: 150px;
    position: absolute;
    right:  -20px;
    bottom:  -20px;
    background-color: #705c30;
    color: white;
    font-family: "Literata" ,serif ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.insidSpan{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Literata" ,serif ;

}
.rightAbout{
    height: 590px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-left: 30px;
    max-width: 530px;
}
.rightAbout h2{
    font-size: 45px;
    margin-bottom: 0;
}
.rightAbout p{
    font-size: 17px;
    line-height: 2;
}
.skills{
    display: flex;
    justify-content: space-around;

}
.Core ,.Values{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 0;
}

.Core span ,.Values span{
    font-family: "Literata" ,serif ;
    font-weight: 600;
}
.Core{
    color:#4a7c59 ;
}
.Values{
    color: #705c30 ;
}
.skills ul{
    padding: 15px;
    list-style: circle;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
    
    
}
.skills li{
    padding-left: 10px;
}

.Projects{
    background-color: #f5f4ee;
    height: fit-content; /*--------------------------------------*/
    padding: 150px 30px;

}
.ProjectsHead{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.ProjectsHead h2 {
    margin: 0;
    font-size: 45px;
    color: rgba(0, 0, 0, 0.781);
}
.ProjectsHead p {
    margin: 0;
    color: #7c6a42;
    
}
.ProjectsHead .git {
    color: #538260;
    cursor: pointer;

}
.ProjectsBody{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.project{
    width: 300px;
    height: 550px;
    border-radius: 20px;
    background-color: #eae6de;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}
.project img{
    width: 100%;
}
.project div{
    margin: 20px 35px ;
}
.project .span1{
    padding: 5px 15px;
    background-color: #8ecf9e;
    border-radius: 15px;
    color: black;
    font-family: "Nunito Sans";
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.232);
}
.project .span2{
    padding: 5px 15px;
    background-color: #e4e0d8;
    border-radius: 15px;
    color: black;
    font-family: "Nunito Sans";
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.232);
    margin-left: 10px;
}
.project h2{
    margin-left: 35px;
    color: rgba(0, 0, 0, 0.788);
}
.project p{
    margin-left: 35px;
    margin-right: 35px;

}
.project a{
    margin-left: 35px;
    margin-right: 35px;
    color: #4a7c59;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightAbout h2{
    color: rgba(0, 0, 0, 0.788);
}

.Contact{
    height: fit-content;
    background-color: #f0ece4;
    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactHead{
    text-align: center;
    margin-bottom: 50px;
}
.Contact h2{
    font-size:50px;
    margin: 0;
    color: rgba(0, 0, 0, 0.788);
}
.Contact p{
    font-size: 17px;
}
.form{
    height: fit-content;
    width: 70%;
    padding: 50px;
    border-radius: 50px;
    
    background-color: #f6f3ef;
}

.line1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.line1 .in input{
    margin-left: 15px;
}
.line1 .in label{
    margin-left: 15px;
}

.form label{
    font-family: "Nunito Sans";
    color: #4a7c59;
    font-size: 17px;
    font-weight: 600;
    width: fit-content;
}
.form div{
    flex-grow: 1;
}
.input{
    width: 90%;
    padding: 20px 15px;
    outline: none;
    border: none;
    border-radius: 18px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.805);
    font-size: 17px;
}
.input:focus{
    box-shadow: 0 0 10px whitesmoke;
    border: solid rgba(0, 0, 0, 0.504) 2px;
}

.select{
    width: 100%;
    padding: 20px 15px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.113);
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.89);
    font-size: 16px;
}
.select:focus{
    box-shadow: 0 0 10px whitesmoke;
    border: solid rgba(0, 0, 0, 0.504) 2px;
}
.line3{
    margin-top: 50px;
}

.textarea{
    max-width: 93%;
    min-width: 93%;
    max-height: 150px;
    min-height: 150px;
    margin-top: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 20px;
    flex-grow: 1;
    font-size: 18px;
}
.textarea:focus{
    box-shadow: 0 0 10px whitesmoke;
    border: solid rgba(0, 0, 0, 0.504) 2px;
}

.submit{
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #4a7c59;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: "Nunito Sans";
    cursor: pointer;
    font-weight: 800;
    font-size: 18px ;
    transition: all .5s;

}
.submit:hover{
    box-shadow: 0 0 10px #4a7c59;

}
footer{
    height: 120px;
    background-color: #faf6f0;
    padding:0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
footer h3{
    font-family: "Literata";
    color: rgba(0, 0, 0, 0.778);
}
footer p{
    font-family: "Nunito Sans" ,sans-serif;
    color: rgba(0, 0, 0, 0.554);
}
footer div{
    font-family: "Nunito Sans" ,sans-serif;
    display: flex;
    gap: 20px;
    color: rgba(0, 0, 0, 0.554);
}

.envelope{
    position: fixed;
    color: #4a7c59;
    font-size: 32px;
    right: 20px;
    bottom: 20px;
    padding: 8px 10px;
    border: #4a7c59 1px solid;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}


.envelope a{
    cursor: pointer;
}

footer:hover .envelope{
    display: none;
}

@media  (max-width:990px){
    .line1{
        display: flex;
        flex-direction: column;
    }
    .in{
        margin-top: 50px;
    }
    .in label {
        margin-left:0 ;
    }
    #email {
        margin-left:0 ;
    }
    .textarea{
    padding: 20px 0 0 20px;
    }
    .three{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media  (max-width:750px){
    .ul{
        display: none;
    }
}
@media  (max-width:900px){
    .About{
        display: flex;
        flex-direction: column;
    }
    .leftAbout{
        width: fit-content;
        align-self: center;
    }
    .rightAbout{
        margin-top: 40px;
    }
}


