body {

    height: 100vh;
    overflow: hidden;
    position: relative;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 200px;
    transition: all 1s;
    position: relative;
}

.inside {
    /* position: absolute; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside:hover .phone {
    width: 500px;
    transition: all .2s;
    transform: rotate(-90deg);
}

.screen {
    background-color: #c7c7c7;
    width: 978px;
    /* width: 650px; */
    height: 470px;
    position: absolute;

    scroll-behavior: smooth;
    border-radius: 68px 68px 68px 68px;
    /* transform: translateX(22px) ; */

    /* display: none; */
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    scrollbar-width: none;

}

.inside:hover .screen {
    transition: all 3s;
    z-index: 2;
    opacity: 1;
    pointer-events: inherit;
}

.container-in-screen {
    width: 100%;

    height: 470px;
    position: relative;
    bottom: 109px;
    background-color: #c7c7c7;
    /* background-image: url(img/Untitled\ design.png); */
    background-size: cover;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    scrollbar-width: none;

}

.container-in-screen>div {

    z-index: 2;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bottom-bar {
    width: 300px;
    height: 9px;
    opacity: 70%;
    border-radius: 10px;
    position: sticky;
    transform: translateX(350px) translateY(455px);
    top: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.835);
    pointer-events: none;
}

.cam-bar {
    height: 100px;
    width: 30px;
    border-radius: 10px;
    background-color: #191919;
    position: sticky;
    top: 170px;
    left: 14px;
    z-index: 10;
    pointer-events: none;

}

.cam-bar img {
    width: 90px;
    transform: rotate(-90deg) translateX(-37px) translateY(-29px);
    z-index: 2;
}

.first {
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
    transform: translateX(200px) translateY(50px);
    letter-spacing: 5px;
    text-shadow: 0 0 5px black;
    color: #c7c7c7;
    cursor: pointer;
    line-height: 0.2;
    transition: .5s;
    z-index: -1;

}

.first:hover {
    color: #191919;
    padding: 20px;
}

a {
    text-decoration: none;
    z-index: 0;

}

.black-tape {
    width: 600px;
    height: 300px;
    background-color: #191919ef;
    position: absolute;
    top: -150px;
    right: -150px;
    transform: rotate(55deg) translateX(80px);
    z-index: 0;
}

.firste {
    
    transform: rotate(55deg) translateX(30px) translatey(-100px);


}

.second {
    position: absolute;
    width: 1000px;
    height: 1000px;
    transform: rotate(55deg);
    top: 350px;
    right: 600px;
}
.third{
    position: absolute;
    width: 1000px;
    height: 1000px;
    transform: rotate(45deg);
    top: 350px;
    right:-600px ;
    
}
.fore{
    
    position: absolute;
    width: 400px;
    height: 1000px;
    transform: rotate(45deg);
    top: -500px;
    right:839px ;
}

.menu {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: #c7c7c7;
    cursor: pointer;
}


/* .about.active{
    color: red;
} */
.home {
    z-index: 10;
}


.home-section,
.about-section,
.projects-section,
.contact-section {
    width: 100%;
    height: 470px;
    overflow: hidden;
    /* background-color: #c7c7c7; */
    background-color:#c7c7c7;
    position: relative;
    bottom: 109px;
}

.about-section {
    background-image: linear-gradient(to left, #000000d0 15%,#c7c7c7 15% 85%, #000000d2 85%);

}

.home-section:hover .me {
    animation-name: me;
}

.contact-section{
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me {
    font-size: 350px;
    /* transform: translateY(120px) translateX(282px); */
    z-index: 10;
    /* animation-name: me; */
    animation-duration: 1s;
    animation-timing-function: linear;
    opacity: 0;
    position: absolute;
    top: 90px;
    left: 335px;
    animation-fill-mode: both;
    color: black;
    width: 320px;
}

@keyframes me {
    from {
        transform: translateY(100px) translateX(0);
    }

    to {
        opacity: 1;
    }
}

.my-name {
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    top: -20px;
    right: 310px;
    font-weight: 500;

    text-shadow: 0 0 5px black;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
}

.job {
    font-size: 70px;
    position: absolute;
    top: 10px;
    right: 180px;
    font-family: serif;
    font-weight: 500;

    color: #9a9a9a;
}

/* .job .s1{
    animation-name: s1;
    animation-duration: 1s;
    transform: translateX(100px );
} */

/* @keyframes s1 {
    to{
        transform: translateY(200px);
    }
} */

.skill {
    position: absolute;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    border: 2px rgba(255, 255, 255, 0.289) solid;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #24242470;
    color: #191919;
    box-shadow: 0 0 10px black;
    font-weight: 900;
    z-index: 100;
    text-shadow: 0 0 5px #c7c7c7;

}

@keyframes more {
    25% {

        transform: translateX(0) translateY(-20px);
    }

    50% {
        transform: translateX(10px) translateY(-20px);
    }

    75% {

        transform: translateX(20px) translateY(-20px);
    }

    /*  */
}

@keyframes bootstrap {
    25% {

        transform: translateX(20px) translateY(-20px);
    }

    50% {
        transform: translateX(10px) translateY(-20px);
    }

    75% {

        transform: translateX(10px) translateY(10px);
    }

    /*  */
}

@keyframes python {
    25% {

        transform: translateX(-20px) translateY(-10px);
    }

    50% {
        transform: translateX(-10px) translateY(-20px);
    }

    75% {

        transform: translateX(-10px) translateY(-5px);
    }

    /*  */
}

@keyframes data {
    25% {

        transform: translateX(10px) translateY(-15px);
    }

    50% {
        transform: translateX(5px) translateY(-10px);
    }

    75% {

        transform: translateX(-10px) translateY(-20px);
    }

    /*  */
}

@keyframes css {
    25% {

        transform: translateX(0) translateY(20px);
    }

    50% {
        transform: translateX(10px) translateY(-20px);
    }

    75% {

        transform: translateX(10px) translateY(10px);
    }

    /*  */
}

@keyframes html {
    25% {

        transform: translateX(-20px) translateY(-20px);
    }

    50% {
        transform: translateX(10px) translateY(-20px);
    }

    75% {

        transform: translateX(10px) translateY(10px);
    }

    /*  */
}


.bootstrap {
    position: absolute;
    bottom: 50px;
    right: 120px;
    animation-name: bootstrap;
}

.html {
    bottom: 240px;
    left: 250px;
    animation-name: html;
}

.css {
    bottom: 160px;
    left: 130px;
    animation-name: css;
}

.more {

    bottom: 60px;
    left: 200px;
    animation-name: more;
}

.python {

    position: absolute;
    bottom: 140px;
    right: 100px;
    animation-name: python;
}

.data {

    position: absolute;
    bottom: 230px;
    right: 200px;
    animation-name: data;
}

.up,
.down {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 10px;
    border-radius: 50%;
    color: white;
    z-index: 100;
    box-shadow: 0 0 5px #191919;

}

.down {
    top: 410px;
}

.cards {
    width: 100px;
    height: 100px;
    background-color: #9a9a9a;
    position: absolute;
    top: -110px;
    cursor: pointer;
    animation-name: card1;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px rgba(255, 255, 255, 0.289) solid;
    border-radius: 30px;
    background-color: #6d4acf23;
    color: #191919;
    box-shadow: 0 0 10px black;
    transition: all .5s;
    z-index: 100;
    animation-delay: 0;
    opacity: 0;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 13px;
}

.card2 {
    animation-delay: 2s;
}

.card3 {
    animation-delay: 4s;
}

.card4 {
    animation-delay: 6s;
}

.card5 {
    animation-delay: 8s;
}

.card6 {
    animation-delay: 10s;
}

.card7 {
    animation-delay: 12s;
}

.card8 {
    animation-delay: 14s;
}

.card9 {
    animation-delay: 16s;
}

.card10 {
    animation-delay: 18s;
}

.the-traine {
    height: fit-content;
    position: absolute;
    left: 190px;
    width: 105px;
    height: 470px;


    /* background-color: red; */

}

.the-traine::after {
    content: "";
    position: absolute;
    right: -500px;
    width: 105px;
    height: 470px;
    /* background-color: #fff; */
    opacity: 0;
}

.the-traine::before {
    content: "";
    /* background-color: #fff;*/
    position: absolute;
    right: -500px;
    width: 105px;
    height: 470px;
    /* background-color: #fff; */
    /* opacity: 0; */

}

.the-traine:hover div {
    animation-play-state: paused;

}

@keyframes card1 {
    0.5% {
        transform: translateY(590px) translateX(0);
        opacity: 0;
    }

    1% {
        transform: translateY(590px) translateX(500px);
        opacity: 1;
    }

    49.5% {
        transform: translateY(0) translateX(500px);

    }

    50% {
        transform: translateY(0) translateX(0);

    }

    99.5% {
        transform: translateY(590px) translateX(0);
        opacity: 1;
    }

    99.6% {
        transform: translateY(590px) translateX(0);
        opacity: 0;
    }


}

.cards:hover {
    /* padding: 10px 0 0 0; */
    box-shadow: 0 0 20px #c7c7c7;
    border: 2px rgba(0, 0, 0, 0.457) solid;
}

.small-screen {
    position: absolute;
    top: 15px;
    left: 150px;
    background-color: #19191950;
    width: 260px;
    height: 390px;
    border-radius: 20px;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    border: 2px rgba(255, 255, 255, 0.563) solid;
    box-shadow: 0 0 10px #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    font-weight: 700;
    font-family: sans-serif;
    color: #c7c7c7;
    text-shadow: 0 0 2px black;
    gap: 50px;
}

.cards:hover + div {
    opacity: 1;
}

.projects-section{
    
    
}
.projects{
    width: 250px;
    border-radius: 20px;
}
.inside-projects{
    height: 440px;
    padding: 15px 30px 15px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.main-cont{
    text-decoration: none;
    color: rgba(2, 0, 0, 0.856);
    text-shadow: 0 0 4px whitesmoke;
    font-weight: 800;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: #c7c7c7;
    border-radius: 20px 20px 70px 70px;
    box-shadow: 0 0 10px #19191982;
    transition: all 0.5s;
    height: fit-content;
}

.main-cont:hover {
    transform: scale(1.1);
    
}

.contact-me{
    height: fit-content;
    width: 400px;
    background-color: #9a9a9a;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* padding-left: 50px; */
    transition: all .5s;
    gap: 20px;
    padding: 40px;
    border-radius: 10px;
    
}
.contact-me:hover{
    padding: 50px;
}
.contact-me a{
    color: #8d8c8c;
    text-shadow: 0 0 1px #191919;
    font-weight: 900;
    font-size: 21px;
    transition: all .5s;
}
.contact-me a:hover{
    color: #191919;
    padding: 20px;
}
.contact-me i{
    font-size: 25px;
}

.between{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all .5s;
    width: fit-content;
}
.between:hover{
    box-shadow: 0 0 5px #191919;
    padding: 5px;
    border-radius: 10px;
}